.navyBar {
    width: 100%;
    height: 50px;
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 100px;
    align-items: center;
}

.circle {
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    margin-right: 7px;
    border-radius: 90px;
}

.navyBar button {
    background-color: transparent;
    color: transparent;
    border: transparent;
    margin-left: 7px;
}

@media screen and (max-width:940px){
    
}
